*{
  box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 5px 10px;
}

.navbar-brand{
    font-size: 28px;
    margin-right: 3.1rem;
    padding-top: 3.125px;
    padding-bottom: 3.125px;
}

.nav-link{
    font-size: 15px;
    margin-right: 1.35rem;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 60%;
  margin-top: 40px;
  box-shadow: 0 3px 10px rgba(0,0,0,.6);
}

.mid {
  display: flex;
  justify-content: center;
}

footer {
    margin-top: 50px;
    height: 50px;
    width: 100%;
}

.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

footer i{
  font-size: 2rem;
  margin: 0.5rem;
}

.media-body {
  width: 200px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-body {
  padding-top: 10px;
  text-align: center;
}
.media-body p{
  font-weight: 900;
}

.account-img {
  margin-top: 10px;
  margin-bottom: 5px;
}